body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #48BE90;
}

.container {
  height: 70%;
  width: 70%;
  background: #96E4C5;
  padding: 40px;
  border-radius: 9px;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.search-par {
  background: #F4FAF8;
  height: 95%;
  width: 40%;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 95%; /* Adjusted width to 80% */
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 70%;
}

button:hover {
  transform: translateY(-2%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

button:active {
  transform: scale(0.9);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.search-box {
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

img{
  width: 95%;
  height: 80%;
}

